extends layout

block content
    nav.navbar.navbar-light.bg-faded.px-5.mb-3
        h1.navbar-brand.mb-0 Smarty files:
    .container.mb-3
        .row
            .col-sm-3
                input#fileInput.file_input(type='file', name='file')
                label(for='fileInput') Choose a file
            .col-sm-7
                .file_info
                    #filename.file_name
                    #filesize.file_size
            .col-sm-2
                #upload.btn.btn-success
                    | Upload
    .container.files.mb-5
        each file in files
            .row.py-2
                .col-sm-10
                    a(href='../storage/#{file}')
                        | #{file}
                .col-sm-1

                .col-sm-1

