extends layout

block content
    nav.navbar.navbar-light.bg-faded.px-5.mb-3
        h1.title.navbar-brand.mb-0 Smarty files
    form.login-form.rounded.mx-auto.p-4
        .form-group
            label
                | Login:
            input#username.form-control(placeholder='Enter login')
        .form-group
            label
                | Password:
            input#password.form-control(type='password')
        .btn.btn-primary#login_btn
            | login
    script(src='/javascripts/login.js')
