body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ol, ul, li {
  margin: 0;
  padding: 0;
}

.login-form {
  border: 1px solid #cccccc;
  width: 50%;
}
.files {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.container.files > .row:nth-child(odd) {
  background: #efefff;
}

.file_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file_input + label {
  display: inline-block;
}

.file_input + label {
  background-color: #0275d8;
  padding: 8px 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: opacity .3s ease-out;
}
.file_input + label:hover {
  opacity: 1;
}

.file_input:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.file_input + label * {
  pointer-events: none;
}

