body {
}

ol, ul, li {
  margin: 0;
  padding: 0;
}

h1.title.navbar-brand {
  font-size: 30px;
  color: #e28b2c;
}

.login-form {
  border: 1px solid #cccccc;
  width: 50%;
}
.files {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.container.files > .row:nth-child(odd) {
  background: #efefff;
}

.file_input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    background-color: #0275d8;
    padding: 8px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    opacity: .8;
    transition: opacity .3s ease-out;

    &:hover {
      opacity: 1;
    }
  }

  &:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

  & + label * {
    pointer-events: none;
  }
}

.file_info {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;

  .file_name {

  }
  .file_size {

  }
}

#upload {
  cursor: pointer;
}
.delete_button {
  color: darkred;
  cursor: pointer;
  opacity: .7;
  transition: opacity .3s ease-out;

  &:hover {
    opacity: 1;
  }
}

